<img src="assets/img/text.png" alt="" class="center">
<app-slider></app-slider>
<div class="presentation">
    <h1>presentation</h1>
    <img src="assets/img/WhatsApp Image 2023-02-17 à 14.40.36.jpg" alt="" class="img">
    <img src="assets/img/WhatsApp Image 2023-02-17 à 14.53.24.jpg" alt="" class="img">
<p class="justify">
    <strong>Stores&Baches</strong> , Expert D’équipement De Bâche Et De Store, Bâche Camion, Tente De Chantier… <br>
    Notre equipe repose sur un défi à relever sans cesse des produits de qualité au meilleur prix, En permanence.<br>

    Voilà ce qui vaut d’être reconnus comme les spécialistes de la décoration et de l’aménagement.</p>
</div>
<app-gps></app-gps>