<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img src="\assets\img\logo.jpg" alt="" class="img" >
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>Accueil </a>
        <button mat-button [matMenuTriggerFor]="menu">produits</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Stores exterieuses</button>
          <button mat-menu-item>Stores interieurs</button>
          <button mat-menu-item>Pergolas</button>
          <button mat-menu-item>Parasole</button>
          <button mat-menu-item>Fermeture en verre</button>
          <button mat-menu-item>Toiles tendues</button>
          <button mat-menu-item>Moustiquaire </button>
          <button mat-menu-item>Abris de voiture</button>
          <button mat-menu-item>Couvertures piscune</button>
          <button mat-menu-item>Hausses de protection</button>
          <button mat-menu-item>Gammes de toile</button>
          <button mat-menu-item>Motorisations et automatismes</button>

        </mat-menu>
        <a href="#" mat-button>contact</a>
        
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Accueil</a>
        <button mat-button [matMenuTriggerFor]="menu">produits</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Stores exterieuses</button>
          <button mat-menu-item>Stores interieurs</button>
          <button mat-menu-item>Pergolas</button>
          <button mat-menu-item>Parasole</button>
          <button mat-menu-item>Fermeture en verre</button>
          <button mat-menu-item>Toiles tendues</button>
          <button mat-menu-item>Moustiquaire </button>
          <button mat-menu-item>Abris de voiture</button>
          <button mat-menu-item>Couvertures piscune</button>
          <button mat-menu-item>Hausses de protection</button>
          <button mat-menu-item>Gammes de toile</button>
          <button mat-menu-item>Motorisations et automatismes</button>

        </mat-menu>

        
        <a href="#" mat-list-item>contacts</a>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <app-home></app-home>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



